.fs-0 {
    font-size: calc(2rem + 2vw);
}

#carouselMuseo {

    background-color: rgba(0, 0, 0, 0.5);
}

#HomeTitle {
  opacity: 0;
}

/* .carousel-item.active {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
  
} */

.carousel-item:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
}

#carouselMuseo .carousel-item img {

    
    object-fit: cover;
    object-position: center;
    /* height: 60vh; */
    height: calc(100vh - 117px);
    overflow: hidden;
    /* opacity: 0.4; */
}

.fading {
  opacity: 0;
}

.grid-sizer {
  width: 24.5%;
}

@media screen and (max-width: 800px) {
  .grid-item {
    width: 100%;
  }
  
}

@media screen and (min-width: 800px) {
  .grid-item {
    width: 49%;
  }
  
}

.square-box {
  min-height: 70vh;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

