.fs-0 {
    font-size: calc(2rem + 2vw);
}

#carouselMuseo {

    background-color: black;
}

#HomeTitle {
  opacity: 0;
}

#carouselMuseo .carousel-item img {

    
    object-fit: cover;
    object-position: center;
    height: 60vh;
    overflow: hidden;
    opacity: 0.4;
}

.fading {
  opacity: 0;
}

.grid-sizer {
  width: 24.5%;
}
.grid-item {
  width: 49%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

