<!DOCTYPE html>
<html lang="it">

<head>
  {% include "head.html" %}
 
  <meta name="description" content="
  Sembra che tu sia finito in un luogo sconosciuto.
    Che ne dici di tornare alla pagine principale?
  ">
</head>

{% include "header.html" %}

<main>

    <div class="container square-box d-flex flex-column justify-content-center text-center align-items-center mx-auto">
        <p class="fw-light fs-1 mx-auto">Sembra che tu sia finito in un luogo sconosciuto.</p>
        <p class="fw-light fs-1 mx-auto">Che ne dici di andare <a href="/" class="link-info link-underline link-underline-opacity-0 fw-semibold">qui</a> piuttosto?</p>
    </div>

</main>


{% include "footer.html" %} 