{% include "header.html" %}
<main class="px-2">
  <div class="container text-center p-1" >
         <div class="row justify-content-center">
           <div class="col-lg-6">  <!-- orari !-->
               <p class="pt-4 display-6 pb-2 fw-semibold">Orari</p>
               
                <table class="table table-dark table-striped shadow">
                  <thead>
                    <tr class="">
                      
                      <td class="fs-4" colspan="3"><strong>2 ottobre - 1 aprile</strong></td>

                    </tr>
                  </thead>
                  <tbody>
                    <tr class="">
                      <td></td>
                      <td class="fs-5"><strong>Mattina</strong></td>
                      <td class="fs-5"><strong>Pomeriggio</strong></td>
                    </tr>
                    <tr class="">
                      <td>Sabato</td>
                      <td>Chiuso</td>
                      <td>14:30-17:30</td>
                    </tr>
                    <tr class="">
                      <td>Domenica</td>
                      <td>10:30-17:30</td>
                      <td>10:30-17:30</td>
                    </tr>

                  </tbody>

                  <thead>
                    <tr class="">
                      
                      <td class="fs-4" colspan="3"><strong>2 aprile - 1 ottobre</strong></td>
                      


                    </tr>
                  </thead>
                  <tbody>
                    <tr class="">
                      <td></td>
                      <td class="fs-5"><strong>Mattina</strong></td>
                      <td class="fs-5"><strong>Pomeriggio</strong></td>
                    </tr>
                    <tr class="">
                      <td>Sabato</td>
                      <td>Chiuso</td>
                      <td>16:00-19:00</td>
                    </tr>
                    <tr class="">
                      <td>Domenica</td>
                      <td>10:30-12:30</td>
                      <td>14:00-19:00</td>
                    </tr>

                    <tr class="">
                      <td colspan="3"><h6>*gli orari potrebbero variare nei giorni festivi</h6> </td>
                    </tr>
                  </tbody>

                </table>
              
                
                
                   <div class="row pb-2 pt-3"><br>
                    <b>*PROPOSTE PER LE SCUOLE:</b>
                    <p class="fst-italic">Il Museo propone visite guidate e laboratori a tema geologico, mineralogico, storico-archeologico e naturalistico. Per ricevere le proposte didattiche e i relativi costi contattaci al telefono o sui social!</p>
                    
                  </div>

                </div> <!-- fine prima colonna con 2 righe!-->



           <div class="col-lg-6"><!-- seconda colonna della riga 1-->
            
               <div class="pt-5">
                <p  class="h4 mx-2">
                  Dove siamo 
                  <img class="img-fluid" src="/static/imgs/geo-alt-fill.svg"  width="25" height="25">
                </p> 
                  
                  <p>Via Bomba, 48</p>
                  <p>Cinto Euganeo (PD), 35030</p>
              </div>

               <div class="pt-4">
                <p class="mx-2 h4">
                  Telefono 
                  <img src="/static/imgs/telephone-fill.svg"  width="25" height="25">
                </p> 
                
                <p>049 8910189</p>
              </div>
              
              <div class="pt-4">
                <p class="mx-2 h4">
                  Mail
                  <img src="/static/imgs/mail.svg"  width="25" height="25">
                </p> 
                
                <p>naturalmenteveneto@gmail.com</p>
              </div>

           </div>
         </div><!--fine colonna 2 della riga 1!-->
        </div><!--fine riga 1!-->


        
        <div class="col-xl-7 col-lg-9 mx-auto text-center py-5">
          <div class="text-center mx-auto ratio ratio-16x9 shadow" style="width:90%">
           
           <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11231.07582865454!2d11.656448!3d45.272681!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2d8b006da378c6c4!2sMuseo%20di%20Cava%20Bomba!5e0!3m2!1sit!2sit!4v1668110942158!5m2!1sit!2sit" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          
           </div>
       </div>


      <div class="text-center">
        <p class="fs-2"><b>Social</b></p>

      </div>

      <div class="text-center">
        <a href="https://it-it.facebook.com/cavabomba/" class="m-1"><img src="/static/imgs/facebook.svg" width="40" height="40"></a>
        <a href="https://instagram.com/museocavabomba?igshid=YmMyMTA2M2Y=" class="m-1"><img width="40" height="40" src="/static/imgs/instagram.svg" ></a>
      </div>




</main>

{% include "footer.html" %}