{% include "header.html" %}
<main class="text-center px-5">


   
     <div class="container-fluid pb-5 mx-auto">
         <div class="row">
           <div class="col">  <!-- orari !-->
             
            <br>
            
               <h4> Orario museo</h4><br>
               

                <table class="table">
                    <tr>
                      <th scope="col">Luned&#236;</th>
                      <th scope="col">09:30-12:30</th>
                      <th scope="col">15:30-18:30</th>
                    </tr>

                    <tr>
                      <th scope="col">Marted&#236;</th>
                      <th scope="col">09:30-12:30</th>
                      <th scope="col">15:30-18:30</th>
                    </tr>

                    <tr>
                      <th scope="col">Mercoled&#236;</th>
                      <th scope="col">09:30-12:30</th>
                      <th scope="col">15:30-18:30</th>
                    </tr>

                    <tr>
                      <th scope="col">Gioved&#236;</th>
                      <th scope="col">09:30-12:30</th>
                      <th scope="col">15:30-18:30</th>
                    </tr>

                    <tr>
                      <th scope="col">Venerd&#236;</th>
                      <th scope="col">09:30-12:30</th>
                      <th scope="col">15:30-18:30</th>
                    </tr>

                    <tr>
                      <th scope="col">Sabato</th>
                      <th scope="col">09:30-12:30</th>
                      <th scope="col">CHIUSO</th>
                    </tr>

                    <tr>
                      <th scope="col">Domenica</th>
                      <th scope="col">CHIUSO</th>
                      <th scope="col">CHIUSO</th>
                    </tr>
                </table>

                   
                   
                   <div class="">
                  <h6>*gli orari potrebbero variare nei giorni festivi</h6> 
                  </div>

                </div> <!-- fine prima colonna con 2 righe!-->
                

           
           <div class="col"><!-- seconda colonna della riga 1-->
            <div class=""><BR>
               <div class="d-flex justify-content-center"><h4 class="mx-2">Dove siamo</h4> <img src="/static/imgs/geo-alt-fill.svg"  width="5%" height="5%"></div><BR>
               <p>Via Bomba, 48</p>
               <p>Cinto Euganeo (PD), 35030</p>
               </div>


           </div>
         </div><!--fine colonna 2 della riga 1!-->
        </div><!--fine riga 1!-->
      </div>

      
        <div class="container-sm mx-auto py-5">
           <div class="text-center mx-auto ratio ratio-16x9" style="width:90%">
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11231.07582865454!2d11.656448!3d45.272681!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2d8b006da378c6c4!2sMuseo%20di%20Cava%20Bomba!5e0!3m2!1sit!2sit!4v1668110942158!5m2!1sit!2sit" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>          
            </div>
        </div>
      
            <div class="text-center">
              
                <h5 >Social: </h5>

            <a href="https://it-it.facebook.com/cavabomba/"><img  src="/static/imgs/facebook.svg" width="7%" height="7%"></a>
          
         
        </div>


    


</main>

{% include "footer.html" %}