<body class="d-flex flex-column min-vh-100">

  <header class="shadow">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 px-2">
      <div class="container">
        <a class="navbar-brand fs-4" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='imgs/logo.webp') }}" alt="Museo di Cava Bomba" height="70px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0 fw-bold text-uppercase">
            <li class="nav-item px-2">
              <a class="nav-link" aria-current="page" href="museo">Museo</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" aria-current="page" href="storia">Storia</a>
            </li>
            <li class="nav-item dropdown px-2">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Spazi espositivi
              </a>
              <ul class="dropdown-menu dropdown-menu-light text-capitalize">
                <li><a class="dropdown-item py-2" href="sala1">Sala Geologia</a></li>
                <li><a class="dropdown-item py-2" href="sala2">Sala Mineralogia</a></li>
                <li><a class="dropdown-item py-2" href="sala3">Sala Da Rio</a></li>
                <li><a class="dropdown-item py-2" href="sala4">Gli attrezzi</a></li>
                <li><a class="dropdown-item py-2" href="sala5">Archeologia industriale</a></li>
              </ul>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" aria-current="page" href="ambiente">Ambiente e natura</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" aria-current="page" href="didattica">Didattica museale</a>
            </li>

            <li class="nav-item dropdown px-2">
              <a class="nav-link dropdown-toggle" aria-current="page" data-bs-toggle="dropdown" role="button"
                aria-expanded="false" href="#">Info</a>
              <ul class="dropdown-menu dropdown-menu-xl-start dropdown-menu-end text-capitalize">
                <li><a class="dropdown-item py-2" href="contatti">Info</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item py-2" href="contatti#orari">Orari</a></li>
                <li><a class="dropdown-item py-2" href="contatti#costi">Costi e proposte per le scuole</a></li>
                <li><a class="dropdown-item py-2" href="contatti#contatti">Contatti</a></li>
              </ul>
            </li>

            <!-- <li>
              <div class="btn-group">
                <button type="button" class="btn">INFO</button>
                <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
            </li> -->


          </ul>



          <!-- <a class="btn btn-outline-light me-2 text-nowrap" href="aggiungiSegreto.php">Aggiungi segreto</a> -->



        </div>
      </div>
    </nav>
  </header>