{% include "header.html" %}

<main class="">

   
    <div class="mx-auto py-5 row justify-content-center align-items-center">
        <div class="col-xl-5 col-lg-8 px-5">
            <p class="pb-3 display-4 fw-bold text-wrap text-break">Il Museo geopaleontologico di Cava Bomba</p>
            <p class="lead my-auto fs-5">
                Cava di Bomba è un ex-fornace utilizzata nell'Ottocento per l'estrazione e la produzione della calce, testimonianza di una attività produttiva tipica del territorio dei Colli Euganei del passato. Segna il punto di partenza del sentiero del Monte Cinto. Nella cornice dei Colli Euganei, è un luogo d'incontro, una piccola perla del territorio ideale per una visita tra scienza e natura.
            </p>
        </div>
        
        <div class="col-lg-6 col-xl-5 col-sm-10 mx-3 my-3 col-md-7">
            <img class="img-fluid rounded-3 shadow-lg" src="{{ url_for('static', filename='imgs/museo/museo1.jpg') }}">
        </div>
        
    </div>
   
    <div class="mx-auto py-5 my-5 row justify-content-center bg-dark bg-gradient text-white">
        <div class="col-lg-6 col-xl-5 col-sm-10 col-md-7 mx-3 my-auto py-3">
            <img class="img-fluid rounded-3 shadow-lg my-auto" src="{{ url_for('static', filename='imgs/museo/museo2.jpg') }}">
        </div>
        
        
        <div class="col-xl-5 col-lg-8 py-5 px-5">
            <p class="pb-3 text-white display-4 fw-bold">Il Museo oggi</p>
            <p class="my-auto lead fs-5">
                        Nel 2019 La Provincia di Padova ha passato la gestione del Museo al Comune di Cinto Euganeo, mantenendosi gli oneri economici per tutte le forniture, senza escludere eventuali ulteriori sostegni.
                        L'Amministrazione Comunale di Cinto è seriamente motivata alla promozione del museo, che considera un elemento fondamentale per la valorizzazione del suo territorio.
                        Essa potrà inoltre contare sulla collaborazione del Dipartimento di Geoscienze e del Dipartimento dei Beni Culturali dell'Università di Padova per la consulenza scientifica e sul GMPE e altre associazioni culturali per alcuni aspetti operativi didattici e divulgativi.
            </p>
        </div>
        
        
    </div>

    <div class="text-center pt-5 px-3 mx-auto col-lg-8 col-xl-5 col-md-10">
        <p class="h1 fs-1 pb-5 border-bottom mb-5 mx-3">Siamo tornati, più forti di prima.</p>

        <div class="shadow rounded-5 bg-secondary py-4 px-5 bg-opacity-10">
            <p class="lead fs-5 ">Il Museo, finalmente riaperto 2019 vede la collaborazione di:</p>
                <ul class="lead fs-5 py-1 fst-italic fw-medium">
                    <li class="list-group-item">Comune di Cinto Euganeo</li>
                    <li class="list-group-item">Provincia di Padova</li>
                    <li class="list-group-item">Gruppo Mineralogico Paleontologico Euganeo</li>
                    <li class="list-group-item">Dipartimento di Geoscienze dell'Università di Padova</li>
                    <li class="list-group-item">La cooperativa Le Macchine Celibi</li> 
                </ul>
            <p class="lead fs-5 text-start">
                Propone un ricco programma di conferenze, eventi, visite guidate, laboratori didattici.<br>
                Le sale espositive offrono la possibilità di conoscere tutte le varie fasi del processo produttivo delle tre fornaci di Cava Bomba e gli strumenti utilizzati per la lavorazione dei materiali lapidei.
                Il museo possiede tre aree espositive: la sezione geologica (Sala A)  dedicata ai cambiamenti avvenuti nei Colli Euganei nelle varie ere geologiche, la sezione della mineralogia (Sala B) che raccoglie fossili, gemme e rocce (oltre 4000 pezzi) provenienti da tutto il mondo e la sezione della prestigiosa collezione “Da Rio”(Sala C). Quest'ultima è composta da rocce minerali e fossili raccolti tra la fine del Settecento e la prima metà dell'Ottocento dal conte Niccolò Da Rio, importante letterato e naturalista padovano.
                All'interno sono presenti inoltre pezzi provenienti  da collezioni private come la collezione Delmo e la collezione Girardi.
            </p>
            
        </div>
        

    </div>


</main>



{% include "footer.html" %}