<!DOCTYPE html>
<html lang="it">

<head>
  {% include "head.html" %}

  <meta name="description" content="
  Il museo geopaleontologico di Cava Bomba era un'ex-fornace utilizzata
    nell'Ottocento. Oggi, è gestito dal Comune di Cinto Euganeo, che intende
    promuovere il museo al massimo delle sue capacità.
  ">

</head>

{% include "header.html" %}

<main class="">

   
    <div class="mx-auto py-5 row justify-content-center align-items-center">
        <div class="col-xl-5 col-lg-8 px-5">
            <p class="pb-3 display-4 fw-bold text-wrap text-break">Il Museo geopaleontologico di Cava Bomba</p>
            <p class="lead my-auto fs-5">
                Il Museo di Cava Bomba è un complesso di archeologia industriale con 3 forni utilizzati 
                da fine Ottocento agli anni 60 del Novecento per l'estrazione e la produzione della calce 
                e del cemento; è testimonianza di un'attività produttiva tipica del territorio dei Colli Euganei 
                del passato. Segna il punto di partenza del sentiero del Monte Cinto. Nella cornice dei colli, 
                è un luogo d'incontro, una piccola perla del territorio ideale per una visita tra scienza e natura.            
            </p>
        </div>
        
        <div class="col-lg-6 col-xl-5 col-sm-10 mx-3 my-3 col-md-7">
            <img class="img-fluid rounded-3 shadow-lg" src="{{ url_for('static', filename='imgs/museo/museo1.jpg') }}" alt="Museo fronte">
        </div>
        
    </div>
   
    <div class="d-flex mx-auto py-5 my-5 row justify-content-center bg-dark bg-gradient text-white">
        <div class="order-2 order-xl-1 col-lg-6 col-xl-5 col-sm-10 col-md-7 mx-3 my-auto py-3">
            <img class="img-fluid rounded-3 shadow-lg my-auto" src="{{ url_for('static', filename='imgs/museo/museo2.jpg') }}" alt="Museo dall'alto">
        </div>
        
        
        <div class="order-1 order-xl-2 col-xl-5 col-lg-8 py-5 px-5">
            <p class="pb-3 text-white display-4 fw-bold">Il Museo oggi</p>
            <p class="my-auto lead fs-5">
                Nel 2019 La Provincia di Padova ha passato la gestione del Museo al Comune di Cinto Euganeo, 
                mantenendosi gli oneri economici per tutte le forniture, senza escludere eventuali ulteriori sostegni.
                L'Amministrazione Comunale di Cinto è seriamente motivata alla promozione del museo, 
                che considera un elemento fondamentale per la valorizzazione del suo territorio. 
                Essa potrà inoltre contare sulla collaborazione del Dipartimento di Geoscienze e del 
                Dipartimento dei Beni Culturali dell'Università di Padova per la consulenza scientifica e sul 
                GMPE e altre associazioni culturali per alcuni aspetti operativi didattici e divulgativi.        
            </p>
        </div>
        
        
    </div>

    <div class="text-center pt-5 px-3 mx-auto col-lg-8 col-xl-6 col-md-10">
        <p class="h1 fs-1 pb-5 mb-5 mx-3">Siamo tornati, più forti di prima.</p>

        <div class="card text-bg-light text-start px-2 py-2">
            <div class="card-body">
                <p class="h4 pb-3 card-title">Il Museo, finalmente riaperto 2019 vede la collaborazione di:</p>
                    <ul class="lead fs-5 py-1 fst-italic fw-medium text-start">
                        <li class="list-group-item pb-2"><img src="{{ url_for('static', filename='imgs/loghi/cintoEuganeo.png') }}" alt="Logo Comune di Cinto Euganeo" loading="lazy" class="p-2" width="80vh"><span>Comune di Cinto Euganeo</span></li>
                        <li class="list-group-item pb-2"><img src="{{ url_for('static', filename='imgs/loghi/provinciaPadova.png') }}" alt="Logo Provincia di Padova" loading="lazy" class="p-2" width="80vh"><span>Provincia di Padova</span></li>
                        <li class="list-group-item pb-2"><img src="{{ url_for('static', filename='imgs/loghi/paleontologico.png') }}" alt="Logo Gruppo Mineralogico Paleontologico Euganeo" loading="lazy" class="p-2" width="80vh"><span>Gruppo Mineralogico Paleontologico Euganeo</span></li>
                        <li class="list-group-item pb-2"><img src="{{ url_for('static', filename='imgs/loghi/geoscienze.png') }}" alt="Logo Dipartimento di Geoscienze dell'Università di Padova" loading="lazy" class="p-2" width="80vh"><span>Dipartimento di Geoscienze dell'Università di Padova</span></li>
                        <li class="list-group-item pb-2"><img src="{{ url_for('static', filename='imgs/loghi/celibi.png') }}" alt="Logo La cooperativa Le Macchine Celibi" class="p-2" loading="lazy" width="80vh"><span>La cooperativa Le Macchine Celibi</span></li> 
                    </ul>
                <p class="lead fs-5 text-start">
                    Le aree espositive interne sono tre: la sezione geologica (Sala A), 
                    dedicata ai cambiamenti avvenuti nei Colli Euganei nelle varie ere geologiche e ai 
                    fossili trovati localmente e in altri luoghi; la sezione mineralogica intitolata a 
                    Delmo Veronese (Sala B) che raccoglie minerali provenienti dagli Euganei e da tutto 
                    il mondo e la sezione  dedicata alla collezione “Da Rio” (Sala C). Quest'ultima è 
                    composta da rocce minerali e fossili raccolti tra la fine del Settecento e la prima 
                    metà dell'Ottocento dal conte Niccolò Da Rio, importante letterato e naturalista padovano.
                </p>
            </div>
        </div>
        

    </div>


</main>



{% include "footer.html" %}