<!DOCTYPE html>
<html lang="it">

<head>
  {% include "head.html" %}

  <meta name="description" content="{{metaDescr}}">
</head>

{% include "header.html" %}

<!--
    Un file unico per gestire tutte e 3 le sale principali. Questo le rende molto simili, ma va bene lo stesso.
-->

<main class="text-center">

    <div class="py-5 mb-5 mt-3">
    <p class="display-3 fw-semibold">{{nomeSala}}</p>
    <p class="text-secondary fs-4 fw-light fst-italic">{{temaSala}}</p>
    </div>



    <div class="mx-auto bg-dark bg-gradient text-white py-5 row justify-content-center align-items-center px-3">

    <div class="col-lg-4 mx-auto text-start">
        <p class="pb-3 display-4 fw-bold text-wrap text-break">{{sottoTitolo}}</p>
        <p class="text-wrap fs-5 lead">
            {{descrizione}}
        </p>
    </div>

    <div class="col-md-6 my-auto">
        <img src="{{imgMainSala}}" alt="Rappresentazione dello spazio espositivo" class="img-fluid m-auto shadow-lg rounded-3" >
    </div>
    
    </div>

    <div class="mx-2 pt-5">
    <div class="container-md px-5 pt-3 pb-2 my-5">
        <p class="display-1">
            Galleria
        </p>
    </div>

    <div class="text-center mx-auto col-xl-8 col-sm-15 px-5">
    <div class="grid">
        <div class="grid-sizer"></div>
        
        {% for img in images %}
        
            <div class="grid-item">
                <div class="m-1">
                    <img src="{{ img }}" alt="immagine {{loop.index}}" loading="lazy" class="shadow-sm">
                </div>
            </div>

        {% endfor %}

    </div>
    </div>
</div>
</main>

{% include "footer.html" %}