<!DOCTYPE html>
<html lang="it">

<head>
  {% include "head.html" %}

  <meta name="description" content="
  Il nome 'Cava Bomba' deriva dal nome di un piccolo insediamento, nel 1620. Nella credenza popolare, tuttavia,
si ritiene che il nome derivi dall'esplosione di una bomba che uccise tre giovani. Successivamente, vennero
scoperti dei fossili nella cava: da qui, nasce il museo.
  ">
</head>

{% include "header.html" %}

<main>

    <div class="col-lg-8 col-xl-6 mx-auto px-3">
        <div class="pt-5 pb-5 border-bottom">
            <p class="display-3 fw-semibold text-center">La storia del museo</p>
            <p class="text-secondary fs-4 fw-light fst-italic text-center">La storia del nostro fantasmagorico museo.</p>
        </div>

        <div class="pt-5 pb-5 border-bottom">
            <p class="h3 pb-3 text-center">Perché si chiama Cava "Bomba"?</p>
            <p class="lead">
                La cava denominata <i>Bomba</i> è aperta sul fianco meridionale del Monte Cinto ad una quota di circa 30 m dal piano campagna. 
                Il toponimo <i>Bomba</i> fa riferimento a un piccolo insediamento con una osteria nell'incrocio a valle della cava, 
                che compare già in una carta del 1620 ed è presente nel catasto austriaco del 1831. Gli studiosi di etimologia 
                ritengono che il senso del termine sia di origine dialettale, di etimo incerto, cioè <i>“inzuppato, fradicio”</i>, 
                riconducibile alla presenza nel sito di una sorgente un tempo di rilevante importanza, attualmente quasi completamente interrata.
                Alla fine dell'ultimo conflitto mondiale, un bombardamento aereo in questo luogo causò la morte di tre giovani.
                É pertanto abbastanza comune nel paese l'errata convinzione che la denominazione Bomba sia associata al tragico evento bellico.
            </p>
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-7 mx-auto pt-3">
                <img class="img-fluid shadow-lg rounded-3" alt="Campagna di scavo" src="{{ url_for('static', filename='imgs/storia/storia1.webp') }}">
            </div>
        </div>

        <div class="pt-5 pb-5 border-bottom"> 
            <p class="h3 pb-3 text-center">Chi ha scoperto i pesci fossili a Cava Bomba?</p>
            <p class="lead">
                Nel 1974 tre amici appassionati ricercatori di fossili, il pittore e naturalista estense Delmo Veronese, 
                l'artigiano-artista del legno di Cinto Euganeo Luigi Ravarotto e l'allora studente universitario Franco Colombara, 
                avviarono una campagna di ricerca di fossili in cava, cui parteciparono anche cercatori ed esperti di pesci fossili 
                come Massimiliano Cerato e Lorenzo Sorbini. Già prima, Luigi Ravarotto aveva rinvenuto interessanti reperti fossili 
                riferibili a pesci e numerose concrezioni minerali gialle e lucenti di pirite in corrispondenza di una serie di strati 
                marnosi argillosi scuri portati alla luce dai lavori di sbancamento per l'estrazione del calcare. Tali strati, che costituivano il giacimento 
                fossilifero, erano intercalati alle stratificazioni calcaree del Cretaceo Superiore.
            </p>
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-7 mx-auto pt-3">
                <img class="img-fluid shadow-lg rounded-3" alt="Foto storica dei minatori" src="{{ url_for('static', filename='imgs/storia/storia2.webp') }}">
            </div>
        </div>

        <div class="pt-5 pb-5"> 
            <p class="h3 pb-3 text-center">Le origini del museo</p>
            <p class="lead">
                Cessata l'attività estrattiva e ultimate le ricerche fossilifere, l'allora Consorzio per la Valorizzazione dei Colli Euganei 
                attuò un'esemplare ricomposizione ambientale nella cava e acquisì per donazione dalla Cementi Zillo, proprietaria del complesso 
                produttivo, tutta l'area relativa, immobili compresi. Ne seguì il restauro conservativo del complesso industriale 
                volto a salvaguardare il più possibile le particolari strutture - bocche dei forni, boccaporti di ispezione, soppalchi, 
                frantoi ecc. - per una testimonianza completa del ciclo produttivo. A completamento del percorso di archeologia industriale 
                c'è una porzione di ferrovia Decauville che, partendo dalle bocche dei forni, si articola verso il fronte cava. 
                Sui suoi binari, in passato, venivano spinti a mano i carrelli che scaricavano le pietre e il carbone entro le bocche dei forni.
                Il complesso comprendeva anche tre locali di una certa ampiezza, originariamente magazzini e altri locali di sevizio minori.
                Visti i fossili rinvenuti in loco e quelli ritrovati in area euganea, si fece strada l'idea di valorizzare al massimo la struttura 
                esponendo il patrimonio rinvenuto negli spazi del complesso produttivo, divenuti quindi espositivi.

            </p>
           
        </div>

    </div>
</main>

{% include "footer.html" %}