<!DOCTYPE html>
<html lang="it">

<head>
  {% include "head.html" %}

  <meta name="description" content="
  Il nome 'Cava Bomba' deriva dal nome di un piccolo insediamento, nel 1620. Nella credenza popolare, tuttavia,
si ritiene che il nome derivi dall'esplosione di una bomba che uccise tre giovani. Successivamente, vennero
scoperti dei fossili nella cava: da qui, nasce il museo.
  ">
</head>

{% include "header.html" %}

<main>

    <div class="col-lg-8 col-xl-6 mx-auto px-3">
        <div class="pt-5 pb-5 border-bottom">
            <p class="display-3 fw-semibold text-center">La storia del museo</p>
            <p class="text-secondary fs-4 fw-light fst-italic text-center">La storia del nostro fantasmagorico museo.</p>
        </div>

        <div class="pt-5 pb-5 border-bottom">
            <p class="h3 pb-3 text-center">Perché si chiama Cava "Bomba"?</p>
            <p class="lead">
                La cava denominata Bomba è aperta sul fianco meridionale del Monte Cinto ad una quota di circa 30 m dal piano campagna. Il toponimo Bomba si riferisce ad un piccolo insediamento con una osteria nell'incrocio a valle della cava, che compare già in una carta del 1620 ed è presente in un catasto austriaco del 1831. Gli studiosi di etimologia ritengono che il senso del termine sia di origine dialettale, di etimo incerto, cioè “inzuppato, fradicio”, riconducibile alla presenza nel sito di una sorgente un tempo di rilevante importanza, attualmente quasi completamente interrata.
                Per ironia della sorte, alla fine dell'ultimo conflitto mondiale, durante un bombardamento aereo in questo luogo, una bomba causò la morte di tre giovani vittime. E' pertanto abbastanza comune nel paese l'errata convinzione che la denominazione Bomba sia associata al tragico evento bellico.
            </p>
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-7 mx-auto pt-3">
                <img class="img-fluid shadow-lg rounded-3" src="{{ url_for('static', filename='imgs/storia/storia1.jpg') }}">
            </div>
        </div>

        <div class="pt-5 pb-5 border-bottom"> 
            <p class="h3 pb-3 text-center">Chi ha scoperto i fossili a Cava Bomba?</p>
            <p class="lead">
                La grande avventura di Cava Bomba è iniziata nel 1974 e vide come primi protagonisti tre amici appassionati ricercatori di fossili. Essi erano il pittore e naturalista estense Delmo Veronese, Luigi Ravarotto, artigiano-artista del legno di Cinto Euganeo e Franco Colombara, a quel tempo ancora studente universitario.
                Nella cava di calcare Cava Bomba di Cinto, Luigi Ravarotto aveva rinvenuto interessanti reperti fossili riferibili a pesci e numerose concrezioni minerali gialle e lucenti di pirite Nella cava, i lavori di sbancamento per l'estrazione del calcare hanno portato alla luce una serie di strati - il giacimento fossilifero - di marna argillosa scura intercalata alle stratificazioni calcaree del Cretaceo Superiore.
            </p>
           
        </div>

        <div class="pt-5 pb-5"> 
            <p class="h3 pb-3 text-center">Le origini del museo</p>
            <p class="lead">
                Qualche anno dopo la scoperta dei pesci fossili, cessa l'attività estrattiva a Cava Bomba. Il Consorzio attua una esemplare ricomposizione ambientale nella cava - progetto pilota per le cave dismesse dei Colli Euganei - e acquisisce per donazione dalla Cementi Zillo tutta l'area, compresa l'antica fornace.
                Ben presto venne attuato il restauro conservativo del complesso industriale salvaguardando anche tutte le particolari strutture - bocche dei forni, boccaporti di ispezione, soppalchi, ecc. - al fine di consentire la completa testimonianza del ciclo produttivo. 
                A completamento del percorso di archeologia industriale venne realizzata, utilizzando materiali originali accantonati, una piccola ferrovia Decauville che partendo dalle bocche dei forni, si articola verso il fronte cava. Sui binari venivano spinti a mano i carrelli che scaricavano le pietre e il carbone.
                Il complesso oltre ai forni comprendeva anche tre locali di una certa ampiezza, originariamente magazzini, e altri locali di servizio minori.
                A questo punto si è fatta strada l'idea di valorizzare al massimo la struttura esponendo il patrimonio negli spazi espositivi.
            </p>
           
        </div>

    </div>
</main>

{% include "footer.html" %}